.coluna-5 {
	width: 5%;
}

.coluna-10 {
	width: 10%;
}

.coluna-15 {
	width: 15%;
}

.coluna-20 {
	width: 20%;
}

.coluna-25 {
	width: 25%;
}

.coluna-30 {
	width: 30%;
}

.coluna-35 {
	width: 35%;
}

.coluna-40 {
	width: 40%;
}

.coluna-45 {
	width: 45%;
}

.coluna-50 {
	width: 50%;
}

.coluna-55 {
	width: 55%;
}

.coluna-60 {
	width: 60%;
}

.coluna-65 {
	width: 65%;
}

.coluna-70 {
	width: 70%;
}

.coluna-75 {
	width: 75%;
}

.coluna-80 {
	width: 80%;
}

.coluna-85 {
	width: 85%;
}

.coluna-90 {
	width: 90%;
}