.panel-button-crud {
	margin: 20px 2px 10px;
}

.button-small {
	width: 100px;
	margin-right: 5px;
}

.button-medium {
	width: 160px;
	margin-right: 5px;
}

.button {
	margin-left: 5px;
}

.car-grid-row {
	display: flex;
	box-sizing: border-box;
	background: #fff;
	padding: 10px;
	margin: 5px;
	height: 140px;
	border: 1px solid #b6b6b6;
}

.car-grid-row ul {
	align-self: center;
}

.car-grid-row ul li {
	margin: 2.5px 0;
}


.car-grid-row-column-image {
	width: 20%;
}

.car-grid-row-column-summary {
	width: 30%;
}

.car-grid-row-column-detail {
	width: 30%;
}

.car-grid-row-column-cost {
	width: 20%;
}

.label-static {
	color: #9e9e9e;
	font-size: 13px;
}

.label-dynamic {
	color: #212121;
	font-size: 14px;
}

.label-status {
	color: #F7B64A;
	font-size: 16px;
}

.label-cost {
	font-size: 14px;
	font-weight: bold;
}

.crud-car-form {
  display: flex;
  width: 100%;
  padding: 5px 0;
}

.crud-car-image {
  border: 1px solid #999;
  border-radius: 5px;
  margin-right: 5px;
  width: 25%;
}

.crud-car-summary {
  width: 75%;
}

.filtro {
	display: flex;
	margin: 20px;
}

.container-label-ipunt {
	display: flex;
}

.label-input-filter {
	width: 20%;
	font-size: 16px;
	margin-right: 10px;
	align-self: center;
}

.input-filter {
	width: 80%;
	height: 40px;
  	padding: 5px;
  	box-sizing: border-box;
	margin-right: 10px;
	font-size: 18px;
}

.buttom-filter {
	border: none;
	background: #FF9800; 
	height: 40px;
	width: 120px;
	font-size: 20px;
	color: #fff;
	width: 100%;
	transition-duration: 1s;
}

.buttom-filter:hover {
	border: 1px solid #FF9800;
	background: #fff;
	color: #FF9800;
	box-shadow: 0px 0px 5px #FF9800; 
}

.confirmacao-locacao {
	font-size: 16px;
}

.confirmacao-locacao ul li {
	display: flex;
	height: 30px;	
}

.texto-negrito {
	font-weight: bold;
}